body{
	background-color: rgb(0, 10, 38);
}
h1{
	color: rgb(255, 255, 255);
	font-family: "Press Start 2P", "sans-serif";
}
p{
	color: rgb(255, 255, 255);
	font-family: "Carter One", "sans-serif";
}
h3{
	color: rgb(255, 255, 255);
	font-family: "Press Start 2P", "sans-serif";
}
li{
	color: rgb(255, 255, 255);
	font-family: "Carter One", "sans-serif";
}